*{
  margin:0px;
}

body {
  background: #eee;
  font-family: sans-serif;
  box-sizing:border-box;
}

.card {
  width: 85%;
  background: #fff;
  margin: 16px auto;
  padding:20px 10px 1px 10px;
}

.title {
  background: #e3f4ff;
  padding:10px;
}

.content {
  background: #e3f4ff;
  padding:10px;
  margin:10px 0px;
}

.button-container {
  background: #e3f4ff;
  padding:10px;
  margin:10px 0px;
  text-align:center;
}

button {
  display:block;
  margin:0px auto;
  background: white;
  padding:8px 16px;
  border: 1px solid #eee;
}